/* body{
    font-family: 'Poppins', sans-serif;
  } */
  
  .navBarLogo{
      font-weight: 400;
      font-size: 34px;
      color: rgb(66, 66, 66);
  }
  
  .navBarLogo:hover{
      color: #141414;
  }
  
  .nav-link{
      font-weight: 600;
      font-size: 16px;
      padding: 25px 10px !important;
      margin: 0px 5px !important;
      border: transparent solid 3px;
      -webkit-transition: color .3s, border .3s; 
      transition: linear color .3s, ease-in border .3s;
  }
  .nav-link:hover{
      border-bottom: #099BCA solid 3px;
      color: #099BCA !important;
      font-weight: 600;
  }
  
  a:link{
      text-decoration: none;
  }
  
  .navbar{
      padding: 0px !important;
  }
  .bg-light{
      background-color: #F7F8F9 !important;
  }
  .navbar-toggler{
      border: none;
      
  }

  @media only screen and (max-width: 600px) {
    .navbar>.container{
      justify-content:right !important;
  
    }
    .navbar-toggler{
      margin-left: auto;
  
    }
    .container{
        width: 100% !important;
        /* margin-left: 10px !important;
        margin-right: 10px !important; */
      }
    .navBarLogo{
      font-size: 12px !important;
      padding: 20px 0;
    }
    .nav-link{
      font-size: 10px;
      width: 100vw;   
      margin: 0 !important;
      padding: 15px !important;
    }
    .navbar-nav{
      border-top: solid rgb(98,99,101, .7);
      border-width: 1px;
    }
    #navService, #navHome, #navAbout, #navContact{
      padding: 20px 25px;
    }
    .mt-2, .my-2 {
      margin-top: 0px !important;
    }
  }
  
.container{
    width: 85% !important;
}
.contact{
    color: #20242B;
    position:absolute; 
    width: 100%;  
}
.aboutUsTitle{
    background: url("../resources/images/openstreet_contact_banner-min.jpg");
    background-size: cover;
    height: 33vw;
    position: relative;
    top: 74px; 
}
.contactPage{
    position: relative;
    top: 125px;
    text-align: left;
    height: 80vh;
}
.contactTitle{
    /* font-style: normal; */
    font-weight: 200; 
    font-size: 58px;
    color: #099BCA;
    text-align: center;
    position: relative;
    /* top: 25px; */
}
.contactContent{
    position: relative;
    top: 60px;
}
.textFields{
    width: 100%;
    padding: 6px;
}
#confirmMessage{
    background-color: #E38D58;
    color: white;
    font-weight: bolder;
    width: 6em;
    text-align: center;
}
.emailSubmitBtn{
    margin-top: 20px ;
    padding: 10px 15px !important;
    background-color: #099BCA !important;
}
.emailSubmitBtn:hover {
    background-color: #099BCA;
}
.contactInfo{
    margin-top: 20px;
    color: #626365;
    
}
.contactDetails{
    text-decoration: none;
    color: #626365;
}
.contactDetails:hover{
    color: #2e2f30;
}
.input-group-text{
    height: 100%;
}

@media only screen and (max-width: 349px) {
    .aboutUsTitle{
      background: url("../resources/images/openstreet_contact_banner_small-min.jpg");
      background-size: cover;
      background-position: center;
      height: 75vw;
      top: 35px; 
    }
    .contactPage{
        top: 60px;
    }
    .contactTitle{
        font-size: 28px;
    }
    .contactContent{
        top: 20px;
    }
    .ourOffice{
        font-size: 24px;
    }
    .contactUs{
        font-size: 24px;
        margin-top: 20px;
    }
    
  }
  @media only screen and (min-width: 350px) and (max-width: 568px) {
    .aboutUsTitle{
        background: url("../resources/images/openstreet_contact_banner_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .contactPage{
          top: 60px;
      }
      .contactTitle{
          font-size: 28px;
      }
      .contactContent{
          top: 20px;
      }
      .ourOffice{
          font-size: 24px;
      }
      .contactUs{
          font-size: 24px;
          margin-top: 20px;
      }
  }
  
  @media only screen and (min-width: 569px)and (max-width: 1000px) {
    .aboutUsTitle{
        background: url("../resources/images/openstreet_contact_banner_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .contactPage{
          top: 60px;
      }
      .contactTitle{
          font-size: 28px;
      }
      .contactContent{
          top: 20px;
      }
      .ourOffice{
          font-size: 24px;
      }
      .contactUs{
          font-size: 24px;
          margin-top: 20px;
          margin-bottom: 15px;
      }
    
  }

  .sticky-bottom{
    padding: 20px;
    margin-top: 250px;
    color: rgb(66, 66, 66);
    text-align: center;
    background-color: #F7F8F9;
    background-color: transparent;
    width: 100%;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(66, 66, 66, 0.9);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
